# eclipse folders
bin/
build/
eclipse/
.metadata/
.project
.settings/
*.classpath

# gradle
.gradle/

# idea
BurpTweaks.iml
BurpTweaks.ipr
BurpTweaks.iws
out/

# forge stuff
CREDITS-fml.txt
LICENSE-fml.txt
MinecraftForge-Credits.txt
MinecraftForge-License.txt
README.txt
forge-*-changelog.txt
